        <article class="post">
            <div class="title">
                <a href="/post/{{id}}">{{title}}</a>
            </div>
                
                <p>{{post_text}}</p>

            <div class="meta">
                Posted by <i class="fa-solid fa-circle-user"></i> {{user.username}} on {{format_date created_at}} | <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
            </div>
        </article>