        <article class="post">
            <div class="title">
                <a href="/dashboard/post/{{id}}">{{title}}</a>
            </div>

                <div id="thumbnail"></div>

                <p><strong>Author:</strong> {{author}}<br />
                <strong>Genre:</strong> {{genre}}<br />
                <strong>Lexile Level:</strong> {{lexile_level}}</p>
                
                <p>{{post_text}}</p>

            <div class="meta">
                <i class="fa-solid fa-star"></i> <a href="/dashboard/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        </article>