    <section id="sidebar">

        <h2>Your Posts</h2>
        <ol>
            {{#each posts as |post|}}
            <li>
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{post.title}} <span>{{format_date post.created_at}}</span></a>
            </li>
            {{/each}}
        </ol>

    </section>

    <section class="add-post">
        <a href="/dashboard/addpost"><i class="fa-solid fa-plus"></i> Create New Post</a>
    </section>
</div>
<div class="col-9">
    {{#if posts.length}}
    <section class="dashboard">
        
        <h2>Your Posts</h2>
        <ol>
            {{#each posts as |post|}}
            <li>
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{post.title}} <span>{{format_date post.created_at}}</span></a>
            </li>
            {{/each}}
        </ol>

    </section>
    {{/if}}